* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* BASE STYLES */

.section {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* Index.php */

.introWrapper p {
	margin-bottom: 32px;
	padding: 10px;
	align-self: center;
}

.intro {
	background-image: url("barcelona.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(0, 0, 0);
	height: 80vh;
	width: 80vw;
	align-self: center;
}

.introWrapper {
	width: 50%;
	align-self: center;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.7)
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


.introWrapper {
	display: flex;
	flex-direction: column;
}

/* MAIN-NAV  */

.main-nav {
	margin: 0 0 10px 0;
	border: 1px solid black;
}

.main-nav a {
	font-family: "Roboto";
	text-decoration: none;
	color: rgb(0, 0, 0);
	background: #232323;
	height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid white;
}

.main-nav a:hover {
	background-color: rgb(203, 95, 0);
}

.intro {
	background-image: url("barcelona.jpg");
	background-size: cover;
	border: 1px solid rgb(0, 0, 0);
	height: 600px;
	margin: 50px;
}

h1 {
	font-family: "Roboto";
	margin-top: 1em;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-family: "Roboto";
}

.intro p {
	font-family: "Roboto";
	width: 50%;
	margin-top: 1em;
	line-height: 1.5em;
}

/* WESTSIDE  */

.westside {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.westside img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

.westside h1 {
	text-align: center;
}

/* CYKELTUR  */

.cykeltur {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.cykeltur img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

.cykeltur a {
	color: black;
}

/* L'AQUARIUM */

.laquarium {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.laquarium img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* LA RAMBLA */

.larambla {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.larambla img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* LA SAGRADA FAMILIA */

.lasagradafamilia {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.lasagradafamilia img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* ZOO DE BARCELONA */

.zoodebarcelona {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.zoodebarcelona img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* TRANSPORT-CYKEL */

.transportcykel {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.transportcykel img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* TRANSPORT-TRANSFER */

.transporttransfer {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.transporttransfer img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}

/* TRANSPORT-TUNNELBANA */

.transporttunnelbana {
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-self: center;
	margin: 50px 0;
	padding: 20px;
	border: 1px solid black;
}

.transporttunnelbana img {
	max-width: 70%;
	height: auto;
	align-self: center;
	margin: 20px 0;
}


/* __________________________________________________________________ */
/* MEDIA QUERIES */

/* Small devices (phones portrait) *****************************/

@media (max-width: 575px) {

	/* NAVIGATION START */

	.main-nav {
		margin: 10px;
	}

	.main-nav ul {
		display: flex;
		list-style-type: none;
		flex-direction: column;
	}

	.main-nav li {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.main-nav li:hover .submenu li {
		top: 0px;
		display: block;
	}

	.main-nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3em;
		color: #fff;
	}

	.submenu {
		display: flex;
		flex-direction: column;
		position: static;
		width: 100%;
	}

	.submenu li {
		top: 0px;
		display: none;
	}

	.submenu a {
		width: 95%;
		margin: 0 auto;
	}

	/* NAVIGATION END */

	/* INTRODUCTION START */

	.intro {
		background-image: url("barcelona.jpg");
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: column;
		border: 1px solid rgb(0, 0, 0);
		width: 80%;
		height: 700px;
		margin: 10px;
	}

	.intro p {
		width: 100%;
		margin-top: 2%;
		text-align: center;
		line-height: 1.25em;
		color: black;
	}

	/* INTRODUCTION END */

	/* [PRISER] */

	.shopping {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.shopping h1 {
		margin-top: 20px;
		order: 1;
	}

	.shopping p {
		margin-top: 20px;
		order: 3;
	}

	.shopping img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
		order: 2;
	}

	/* WEST SIDE */

	/* CYKELTUR */

	/* L'AQUARIUM */

	/* LA RAMBLA */

	/* LA SAGRADA FAMILIA */

	/* ZOO DE BARCELONA */

	/* TRANSPORT-CYKEL */

	/* TRANSPORT-TRANSFER */

	/* TRANSPORT-TUNNELBANA */

	/* FÖRBEREDELSER HEMMA-FLYG */

	.hemmaflyg {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmaflyg h1 {
		margin-top: 20px;
	}

	.hemmaflyg p {
		margin-top: 20px;
	}

	.hemmaflyg img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmaflyg a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-HOTELL */

	.hemmahotell {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmahotell h1 {
		margin-top: 20px;
	}

	.hemmahotell p {
		margin-top: 20px;
	}

	.hemmahotell img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmahotell a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-PERIODER */

	.hemmaperioder {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmaperioder h1 {
		margin-top: 20px;
	}

	.hemmaperioder p {
		margin-top: 20px;
	}

	.hemmaperioder img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}
}

/* Small devices (landscape phones, 576px and up) *****************/
@media (min-width: 576px) and (max-width: 767px) {

	/* NAVIGATION START */

	.main-nav {
		margin: 10px;
	}

	.main-nav ul {
		display: flex;
		list-style-type: none;
		flex-direction: column
	}

	.main-nav li {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.main-nav li:hover .submenu li {
		top: 0px;
		display: block;
	}

	.main-nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3em;
		color: #fff;
	}

	.submenu {
		display: flex;
		flex-direction: column;
		position: static;
		width: 100%;
	}

	.submenu li {
		top: 0px;
		display: none;
	}

	.submenu a {
		width: 95%;
		margin: 0 auto;
	}

	/* NAVIGATION END */

	/* INTRODUCTION START */

	.intro {
		background-image: url("barcelona.jpg");
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: column;
		border: 1px solid rgb(0, 0, 0);
		height: 700px;
		margin: 10px;
	}

	.intro p {
		width: 81%;
		margin-top: 2%;
		text-align: center;
		line-height: 1.25em;
		color: black;
	}

	/* INTRODUCTION END */

	/* [PRISER] */

	.shopping {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.shopping h1 {
		margin-top: 20px;
		order: 1;
	}

	.shopping p {
		margin-top: 20px;
		order: 3;
	}

	.shopping img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
		order: 2;
	}

	/* WEST SIDE */

	/* CYKELTUR */

	/* L'AQUARIUM */

	/* LA RAMBLA */

	/* LA SAGRADA FAMILIA */

	/* ZOO DE BARCELONA */

	/*  TRANSPORT-CYKEL */

	/* TRANSPORT-TRANSFER */

	/* TRANSPORT-TUNNELBANA */

	/* FÖRBEREDELSER HEMMA-FLYG */

	.hemmaflyg {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmaflyg h1 {
		margin-top: 20px;
	}

	.hemmaflyg p {
		margin-top: 20px;
	}

	.hemmaflyg img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmaflyg a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-HOTELL */

	.hemmahotell {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmahotell h1 {
		margin-top: 20px;
	}

	.hemmahotell p {
		margin-top: 20px;
	}

	.hemmahotell img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmahotell a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-PERIODER */

	.hemmaperioder {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmaperioder h1 {
		margin-top: 20px;
	}

	.hemmaperioder p {
		margin-top: 20px;
	}

	.hemmaperioder img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}
}

/* Medium devices (tablets, 768px and up) *********************/
@media (min-width: 768px) and (max-width: 991px) {

	/* NAVIGATION START */
	.main-nav {
		margin: 10px;
	}

	.main-nav ul {
		display: flex;
		list-style-type: none;
		flex-direction: column
	}

	.main-nav li {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.main-nav li:hover .submenu li {
		top: 0px;
		display: block;
	}

	.main-nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3em;
		color: #fff;
	}

	.submenu {
		display: flex;
		flex-direction: column;
		position: static;
		width: 100%;
	}

	.submenu li {
		top: 0px;
		display: none;
	}

	.submenu a {
		width: 95%;
		margin: 0 auto;
	}

	/* NAVIGATION END */

	/* INTRODUCTION START */
	.intro {
		background-image: url("barcelona.jpg");
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: column;
		border: 1px solid rgb(0, 0, 0);
		height: 700px;
		margin: 10px;
	}

	.intro p {
		width: 70%;
		margin-top: 2%;
		text-align: center;
		line-height: 1.35em;
		color: black;
	}

	/* [PRISER] */

	.shopping {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.shopping h1 {
		margin-top: 20px;
		order: 1;
	}

	.shopping p {
		margin-top: 20px;
		order: 3;
	}

	.shopping img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
		order: 2;
	}

	/* WEST SIDE */

	/* CYKELTUR */

	/* L'AQUARIUM */

	/* LA RAMBLA */

	/* LA SAGRADA FAMILIA */

	/* ZOO DE BARCELONA */

	/* TRANSPORT-CYKEL */

	/* TRANSPORT-TRANSFER */

	/* TRANSPORT-TUNNELBANA */

	/* FÖRBEREDELSER HEMMA-FLYG */

	.hemmaflyg {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmaflyg h1 {
		margin-top: 20px;
	}

	.hemmaflyg p {
		margin-top: 20px;
	}

	.hemmaflyg img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmaflyg a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-HOTELL */

	.hemmahotell {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmahotell h1 {
		margin-top: 20px;
	}

	.hemmahotell p {
		margin-top: 20px;
	}

	.hemmahotell img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmahotell a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-PERIODER */

	.hemmaperioder {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	.hemmaperioder h1 {
		margin-top: 20px;
	}

	.hemmaperioder p {
		margin-top: 20px;
	}

	.hemmaperioder img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}
}

/* Large devices (desktops, 992px and up) ***********************/

@media (min-width: 992px) and (max-width: 1199px) {

	/* NAVIGATION START */

	.main-nav ul {
		display: flex;
		list-style-type: none;
	}

	.main-nav li {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.main-nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		color: #fff;
	}

	.main-nav li:hover .submenu li {
		top: 0px;
		display: block;
	}

	.submenu li {
		top: 0px;
		display: none;
	}

	.submenu {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
	}

	/* NAVIGATION END */

	/* INTRODUCTION START */

	.intro {
		background-image: url("barcelona.jpg");
		background-size: cover;
		display: flex;
		align-items: center;
		flex-direction: column;
		border: 1px solid rgb(0, 0, 0);
		height: 700px;
		margin: 5% 15% 5% 15%;
	}

	.intro p {
		width: 80%;
		margin-top: 2%;
		text-align: center;
		line-height: 1.35em;
		color: black;
	}

	/* INTRODUCTION END */

	/* [PRISER] */

	.shopping {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.shopping h1 {
		margin-top: 20px;
		order: 1;
	}

	.shopping p {
		margin-top: 20px;
		order: 3;
	}

	.shopping img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
		order: 2;
	}

	/* WEST SIDE */

	/* CYKELTUR */

	/* L'AQUARIUM */

	/* LA RAMBLA */

	/* LA SAGRADA FAMILIA */

	/* ZOO DE BARCELONA */

	/* TRANSPORT-CYKEL */

	/* TRANSPORT-TRANSFER */

	/* TRANSPORT-TUNNELBANA */

	/* FÖRBEREDELSER HEMMA-FLYG */

	.hemmaflyg {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.hemmaflyg h1 {
		margin-top: 20px;
	}

	.hemmaflyg p {
		margin-top: 20px;
	}

	.hemmaflyg img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmaflyg a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-HOTELL */

	.hemmahotell {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.hemmahotell h1 {
		margin-top: 20px;
	}

	.hemmahotell p {
		margin-top: 20px;
	}

	.hemmahotell img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmahotell a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-PERIODER */

	.hemmaperioder {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.hemmaperioder h1 {
		margin-top: 20px;
	}

	.hemmaperioder p {
		margin-top: 20px;
	}

	.hemmaperioder img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}
}

/* Large devices (desktops, 1200px and up) *********************/
@media (min-width: 1200px) {
	/* NAVIGATION START */

	.main-nav ul {
		display: flex;
		list-style-type: none;
	}

	.main-nav li {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.main-nav a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		color: #fff;
	}

	.main-nav li:hover .submenu li {
		top: 0px;
		display: block;
	}

	.submenu li {
		top: 0px;
		display: none;
	}

	.submenu {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 100%;
	}

	/* NAVIGATION END */

	/* INTRODUCTION START */

	.intro h1 {
		width: 60%;
		align-self: center;
	}

	.intro p {
		width: 60%;
		align-self: center;
		line-height: 1.75em;
		color: black;
		margin-bottom: 32px;
	}

	/* INTRODUCTION END */

	/* [PRISER] */

	.shopping {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.shopping h1 {
		margin-top: 20px;
		order: 1;
	}

	.shopping p {
		margin-top: 20px;
		order: 3;
	}

	.shopping img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
		order: 2;
	}

	/* WEST SIDE */

	/* CYKELTUR */

	/* L'AQUARIUM */

	/* LA RAMBLA */

	/* LA SAGRADA FAMILIA */

	/* ZOO DE BARCELONA */

	/* TRANSPORT-CYKEL */

	/* TRANSPORT-TRANSFER */

	/* TRANSPORT-TUNNELBANA */

	/* FÖRBEREDELSER HEMMA-FLYG */

	.hemmaflyg {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.hemmaflyg h1 {
		margin-top: 20px;
	}

	.hemmaflyg p {
		margin-top: 20px;
	}

	.hemmaflyg img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmaflyg a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-HOTELL */

	.hemmahotell {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.hemmahotell h1 {
		margin-top: 20px;
	}

	.hemmahotell p {
		margin-top: 20px;
	}

	.hemmahotell img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}

	.hemmahotell a {
		color: black;
	}

	/* FÖRBEREDELSER HEMMA-PERIODER */

	.hemmaperioder {
		display: flex;
		flex-direction: column;
		margin: 5% 15% 5% 15%;
	}

	.hemmaperioder h1 {
		margin-top: 20px;
	}

	.hemmaperioder p {
		margin-top: 20px;
	}

	.hemmaperioder img {
		max-width: 100%;
		height: auto;
		border: 1px solid black;
		margin: 20px 0px 0px 0px;
	}
}